<!DOCTYPE html>
<html>
  <head>
    <title>Discord DS - Mensagens</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/mensagens.css">

    <script src="/static/scripts/servidores.js"></script>
  </head>
  <body>
    <div id="top">
      <div class="top-content">
        <img src="/static/discord_logo.png" class="logo">
      </div>
    </div>
    <div id="bottom">
      <div class="menu">
        <a href="javascript:history.back()"><img src="/static/small/discord_icon.png" class="icon"></a>
        <a href="/grupos"><img src="/static/small/friends_icon.png" class="icon"></a>
        <a href="/servidores"><img src="/static/small/server_icon.png" class="icon"></a>
        <a href="/usuario"><img src="/static/small/user_icon.png" class="icon"></a>
      </div>
      <div class="bottom-content">
        <ul id="servidores"></ul>
      </div>

    </div>

  </body>
</html>